

<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snavStart.toggle()"><mat-icon>menu</mat-icon></button>
  
  <mat-icon svgIcon="bike" class="red-role-icon"></mat-icon>
    
    <h1 class="example-app-name">mailroom</h1>

<!-- This fills the remaining space of the current row -->
 <span class="fill-remaining-space"></span>

  <span><button mat-icon-button (click)="snavEnd.toggle()"><mat-icon>menu</mat-icon></button></span>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
						[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav position="start" class="example-sidenav-start" #snavStart [mode]="mobileQuery.matches ? 'over' : 'side'"
                 fixedInViewport fixedTopGap="60">
  
  <mat-vertical-stepper>
  <mat-step label="Step 1">
    Content 1
  </mat-step>
  <mat-step label="Step 2">
    Content 2
  </mat-step>
</mat-vertical-stepper>
  </mat-sidenav>
  <mat-sidenav-content>
  <body>
  
  <mat-toolbar><p>FOR YOUR CONSIDERATION</p></mat-toolbar>
  
  <mat-expansion-panel [hideToggle]="true">
  <mat-expansion-panel-header>
    <mat-panel-description class ="mat-expansion-panel-header-description">
      AMERICA'S GUEST
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>“When filming a movie on location, John Belushi had a habit
of wandering off-set to a random house of a complete
stranger. He would knock on their front door, invite himself
in, and then ask for something to eat.
This practice prompted Dan Aykroyd to affectionately dub
Belushi ‘America’s Guest.’”</p>

<a mat-button (click)=overlay.create()>CONSIDER</a>

</mat-expansion-panel>

  </body>
  </mat-sidenav-content>
  <mat-sidenav  position="end" [opened]="!mobileQuery.matches" class="example-sidenav-end" #snavEnd [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"  fixedTopGap="56">
                 <div>
                 <mat-card>Event</mat-card>
                 </div>
                 </mat-sidenav>
  </mat-sidenav-container>
  
  
  
  

	

