<div fxLayout="row">

  <mat-toolbar color="primary" layout="row" style="position: fixed;">
      <mat-toolbar-row>
 
<div><button mat-icon-button (click)="snavStart.toggle()">
<mat-icon style="transform: scale(1, 1);" svgIcon="stepper"></mat-icon></button></div>
  

<div [style.marginLeft.px]="15" class="Light" style="transform: scale(1.25, 1.25);" >mailroom</div>  

<!-- This fills the remaining space of the current row -->
 <span class="fill-remaining-space"></span>
 
 <div style="transform: scale(1.25, 1.25);" [style.marginTop.px]="20"><mat-icon svgIcon="notifications"></mat-icon></div>
 <div  style="transform: scale(1.5, 1.5);" [style.marginLeft.px]="15" [style.marginRight.px]="25" 
 [style.marginTop.px]="20"><mat-icon  svgIcon="role-select" class="red-role-icon"></mat-icon></div>
 <div><button mat-icon-button (click)="snavEnd.toggle()"><mat-icon style="transform: scale(1.25, 1.25);">calendar_view_day</mat-icon></button></div>
</mat-toolbar-row>
</mat-toolbar>
</div>

<mat-sidenav-container fullscreen class="example-sidenav-container"
[style.marginTop.px]="56">
  <mat-sidenav position="start" [fixedInViewport]="false" class="sidenav-start" #snavStart [mode]="mobileQuery.matches ? 'push' : 'side'"
  >
  
  <mat-vertical-stepper>
  <mat-step label="Step 1">
    Complete step 1
  </mat-step>
  <mat-step label="Step 2">
    Complete step 2
  </mat-step>
  <mat-step label="Step 3">
    Complete step 3
  </mat-step>
</mat-vertical-stepper>
  
  </mat-sidenav>
  
  <mat-sidenav-content>
  <div fxLayout="row">
  <p fxFlexOffset="30px" class="Light" style="color:#333333; letter-spacing: 1px;">FOR YOUR CONSIDERATION</p>
  </div>
  
  <div fxLayout="column" [style.marginTop.px]="0" [style.marginLeft.px]="20" [style.marginRight.px]="20">
  
<mat-expansion-panel [hideToggle]="true">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      AMERICA'S GUEST
    </mat-panel-title>
  </mat-expansion-panel-header>
  <H3 class="Light">“When filming a movie on location, John Belushi had a habit
of wandering off-set to a random house of a complete
stranger. He would knock on their front door, invite himself
in, and then ask for something to eat.
This practice prompted Dan Aykroyd to affectionately dub
Belushi ‘America’s Guest.’”</H3>
<a mat-button >PASS</a>
<a mat-button >CONSIDER</a>
<a mat-button>CONTRIBUTE</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      WASTED SPACE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>What happens when aliens abduct a young junkie who gets them hooked on drugs? A whimsical and terrifying urban adventure. An unlikely family of denizens tries to make it through this surreal trip.
</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      SERE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>A disparate group of strangers is abandoned in the desert locked in the trailer of a semi-truck. 
They fight for survival from the elements and each other as they uncover the mystery of their fatal imprisonment.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title >
      CHASING THE HORIZON
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>An anti-social, has-been writer is forced to write a biography of an old man. The writer confronts his disillusionment
when the old man tells him the story of the 1912 failed parachute jump of Franz Reichelt.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      POLYBIUS
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>During the video arcade culture of the 1980s, otherworldly forces contrive to control a community by programming kids 
through video games. But a bunch of smart, misfit kids set about uncovering the conspiracy and saving the town.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title >
      THE LAST INDIAN WAR
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>An epic coming-of-age historical drama about the forced relocation of Native American children and the birth of modern football.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      BONJOUR L.A.
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Romantic comedy follows a group of French tourists for one week in L.A. Their tour guide, a frustrated actress, breaks the unwritten rule and falls in love with one customers. A love poem to L.A. </p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      CHARLOTTE SOMETIMES
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Out of the limelight for 25 years, a fiery actress turned barfly is about to mount a comeback when her arch nemesis and the love of her life shows up on her doorstep.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      MUSKOGEE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Three clueless filmmakers attend a film festival in rural Oklahoma, but quickly come to realize there's something off about this town - will they realize what's going on in time?</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      THE TALLEST DARKEST LEADING MAN IN HOLLYWOOD
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>It's the hard-to-believe but never-the-less true story of Hollywood's first blockbuster, King Kong, and the unlikely love triangle...</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" fxFlexOffset="15px">
  <mat-expansion-panel-header [collapsedHeight]="'75px'">
    <mat-panel-title>
      TRENDING
    </mat-panel-title>
    </mat-expansion-panel-header>
  <p>Video of an epic fail marriage proposal goes viral and turns the unlucky in love Ray into an Internet darling sought out by thousands of women.</p>
<a mat-button>CONSIDER</a>
</mat-expansion-panel>
</div>
  
  </mat-sidenav-content>
  
  
  <mat-sidenav   position="end" [opened]="!mobileQuery.matches" class="sidenav-end" #snavEnd [mode]="mobileQuery.matches ? 'push' : 'side'"
>
             
 <div fxLayout="column" [style.marginTop.px]="30" [style.marginLeft.px]="20" [style.marginRight.px]="20">            
<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
    <H3 fxLayoutAlign="center" class="Bold">OCTOBER, 12</H3>
    <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">JULY, 23</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">DECEMBER, 25</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">JANUARY, 1</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">AUGUST, 31</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">MARCH, 21</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>
 
<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">APRIL, 1</H3>
    <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">MAY, 5</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">JUNE, 20</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">SEPTEMBER, 13</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>

<mat-card class="example-card">
  <img mat-card-image src="https://storage.googleapis.com/interdependent.studio/sample-event-image.png" alt="Photo of a premiere event">
  <mat-card-content>
      <H3 fxLayoutAlign="center" class="Bold">JULY, 4</H3>
      <p class="Light" style="color:#666666;">
      This is a really cool event that you should attend. It will be like totally awesome man. Really, you should come. Be there or be square my brotha. Or not. Whatevs broseph.
    </p>
  </mat-card-content>
</mat-card>

<br><br>
</div> 
     
    </mat-sidenav>
  
  
  
</mat-sidenav-container>
  
  
  
  

	

