@import '~@angular/material/theming';

$mailroom-theme-primary: mat-palette($mat-red);
$mailroom-theme-accent:  mat-palette($mat-red, A200, A100, A400);

$mailroom-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mailroom-theme: mat-light-theme($mailroom-theme-primary, $mailroom-theme-accent, $mailroom-theme-warn);

@include angular-material-theme($mailroom-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: '"EurostileNextW1G-Regular"',
);

$custom-light-typography: mat-typography-config(
  $font-family: '"EurostileNextW1G-Light"',
);

// Override typography for a specific Angular Material components.
@include mat-card-typography($custom-light-typography);

// Override the typography in the core CSS.
@include mat-core();